body {
    background-color: rgba(4, 89, 110, 0.5);
}

* {
    box-sizing: border-box;
}

.container {
    background: rgba(253, 253, 253, 1);
    display: flex;
    justify-content: center;
    align-items: center;
    
}