

body {
    background: rgba(133, 2, 2, 0.5);
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-content: space-around;
    padding: 2rem;
    align-items: center;
    background: none;
}

.quiz-title {
    margin-left: 13rem;
    font-size: 5rem;
    color: white;
    background: none;
}

.quiz-description {
    margin-left: 5rem;
    font-size: 2rem;
    color: white;
    background: none;
}

.btn {
    background: blue;
    border-radius: 10px;
    text-decoration: none;
    font-size: 3.5rem;
    margin: 1rem;
    margin-left: 30rem;
}

.btn a {
    text-decoration: none;
    color: white;
}

.btn:hover {
    background: black;
    color: white;
}




